{% extends "base.html" %}
{% block content %}
<section id="contact" class="contact">
    <div class="container">

      <div class="section-title" data-aos="fade-up">
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4">
        <h1 data-aos="fade-up">Log In</h1>
<div class="container" data-aos="fade-up" data-aos-delay="400">
</div>
{% for message in messages %}
<div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
    <strong></strong>{{message}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
{% endfor %}
<form action="/login/" method="post">{% csrf_token %}
    <label for="username">Email</label>
    <div class="form-group">
        <input type="email" class="form-control" id="email" name="email" placeholder="Enter Email" required>
    </div>
    <label for="username">Password</label>
    <div class="form-group">
        <input type="password" class="form-control" id="pass1" name="pass1" placeholder="Enter Password" required>
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Login</button>
    <br>
    Not a  User?<a href="/register">Signup</a>
    <br>
    Forget Password?<a href="#">Reset</a>
    <br>
    
</form>
</div>
  
    </div>
</div>
</div>
</div>
</section>

  
{% endblock content %}